.footer {
 background-color:rgb(12, 12, 84);
 color: white;
 padding: 50px 0;
 height: 450px  auto;
}

.footer-container {
 justify-content: space-around;
}

.soscial_media_icon_div .ul{
 display: flex;
 justify-content: center;
}

.ul .li{
 list-style-type: none;
 margin: 10px;
}
.ul .li .a:hover{
 background-color: red;
}
.a{
 text-align: center;
 border: 1px solid red;
 font-size: 18px;
 padding: 5px;
 padding-right: 10px;
 color: #fff;
 margin: 10px;
} 
 
.footer_para{
 text-align: center;
 padding-left: 300px;
 padding-right: 300px;
}

.footer_sub_header{
 margin-top: 50px;
 text-align: center;
}

.useful_div_links .footer_ul{
 display: flex;
 justify-content: center;
}
.footer_ul .footer_li{
 margin: 10px;
 
 
}
 .footer_a:hover{
 background-color: red;
}
.footer_a{
 text-align: center;
 border: 1px solid rgb(255, 118, 88);
 font-size: 18px;
 padding: 10px;
 padding-right: 10px;
 color: #fff;
 margin: 10px;
 text-decoration: none;
} 


.Coyright_para{
 text-align: center;
margin-top: 50px;
margin-bottom: 0;
}

.Coyright_para2{
 text-align: center;
 margin-bottom: 0;
}

