



.service_heading_div{
 margin-top: 5px;
 text-align: center;
}
.service_sub_heading{
 font-size: 25px;
 color:rgb(249, 105, 2);
 font-weight: bold;

}
.service_heading{
 font-size: 45px;
 font-weight: bold;
 color: rgb(2, 2, 52);
 margin-bottom: 40px;
}
.service_para{
padding-left: 80px;
padding-right: 80px;
}

.sercice_card{
 justify-content: center;
 display: flex;
}

.survey_heading{margin-top: 50px;
 font-size: 35px;
 color:rgb(249, 105, 2);
 font-weight: bold;
 text-decoration: underline;
}