.image_slideshow_div{
 margin-left: 10px;
 margin-right: 10px;
height: 200px;
white-space: nowrap;
margin-bottom: 200px;


}

.slide_images{
width: 100%;
height: 400px;
transition:transform  0.7s ease;
transform: translateX(0);
animation: slide 10s linear infinite; 


}
