

.marquee-container {
 background-color: rgb(2, 2, 52) ;
 padding: 10px;
 height: 400px;
 overflow: hidden;
 white-space: nowrap;
 position: relative;
 margin-bottom: 50px;
 }
 .slide_h1{
  text-align: justify;
 }
 .marquee_heading{
  text-align: center;
  font-size: 25px;
  color:rgb(249, 105, 2);
  font-weight: bold;
  text-decoration: underline;
 }
 .marquee-content {
 display: inline-block;
 animation: marqueeAnimation 25s linear infinite;
 }
 .images{
 width: 40%;
 height: 300px;
 padding: 10px;
 border: 1px solid white;
 border-radius: 10px;
 margin: 5px;
 }


 .marquee-container.left .marquee-content {
  animation: marqueeAnimationLeft 25s linear infinite;
}

.marquee-container.right .marquee-content {
  animation: marqueeAnimationRight 25s linear infinite;
}

 @keyframes marqueeAnimationLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes marqueeAnimationRight {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(100%);
  }
} 



.marquee-content:hover  {
  transform: translateX(0);
}
